html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.app {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
